body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

header {
    background-color: #7c0808;
    color: #fff;
    padding: 20px;
    text-align: center;
}

nav {
    background-color: #444;
    padding: 10px 0;
    text-align: center;
}

nav a {
    color: #ffffffe0;
    text-decoration: none;
    padding: 0 10px;
}

nav a:hover {
    background-color: #555;
}

.container {
    max-width: 1200px;
    margin: 20px auto;
    padding: 0 20px;
}

.news-section {
    margin-bottom: 40px;
}

.news-section h2 {
    border-bottom: 2px solid #333;
    padding-bottom: 10px;
    margin-bottom: 20px;
}

.article {
    background-color: #fff;
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.article img {
    display: block;
    margin: 0 auto 10px;
    border-radius: 5px;
}

.article h3 {
    margin-top: 0;
}

.article p {
    margin-bottom: 0;
}

button {
    background-color: #ffffff;
    border: none;
    color: #7c0808;
    padding: 15px 25px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    transition-duration: 0.4s;
    cursor: pointer;
    border-radius: 8px;
    box-shadow: 0 4px #787f77;
}

button:hover {
    background-color: #45a049;
    box-shadow: 0 8px #2f8f24;
    transform: translateY(-2px);
}




footer {
    background-color: #333;
    color: #fff;
    padding: 20px;
    text-align: center;
    position: absolute;
    bottom: 0px;
}


.contact-info {
    margin-bottom: 10px;
}

.contact-info p {
    margin: 0;
}


.social-icons {
    font-size: 24px;
}

.social-icons a {
    color: #fff;
    margin: 0 5px;
    text-decoration: none;
}


.social-icons a:hover {
    color: #080fec; 
}



